<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.config.configTax.mapper.ConfigTaxMapper">
    
    <resultMap type="ConfigTax" id="ConfigTaxResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="taxName"    column="tax_name"    />
        <result property="taxRate"    column="tax_rate"    />
    </resultMap>

    <sql id="selectConfigTaxVo">
        select id, create_by, create_time, update_by, update_time, remark, status, tax_name, tax_rate from config_tax
    </sql>

    <select id="selectConfigTaxList" parameterType="ConfigTax" resultMap="ConfigTaxResult">
        <include refid="selectConfigTaxVo"/>
        <where>  
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="taxName != null  and taxName != ''"> and tax_name like concat('%', #{taxName}, '%')</if>
        </where>
        order by tax_rate
    </select>
    
    <select id="selectConfigTaxById" parameterType="Long" resultMap="ConfigTaxResult">
        <include refid="selectConfigTaxVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertConfigTax" parameterType="ConfigTax" useGeneratedKeys="true" keyProperty="id">
        insert into config_tax
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="taxName != null and taxName != ''">tax_name,</if>
            <if test="taxRate != null">tax_rate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="taxName != null and taxName != ''">#{taxName},</if>
            <if test="taxRate != null">#{taxRate},</if>
         </trim>
    </insert>

    <update id="updateConfigTax" parameterType="ConfigTax">
        update config_tax
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="taxName != null and taxName != ''">tax_name = #{taxName},</if>
            <if test="taxRate != null">tax_rate = #{taxRate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigTaxById" parameterType="Long">
        delete from config_tax where id = #{id}
    </delete>

    <delete id="deleteConfigTaxByIds" parameterType="String">
        delete from config_tax where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>